---
---

@import "{{ site.theme }}";

body {
  // add custom styles here, e.g,
  // background-color: #cdcdcd;
}

img[title="Custom Safari app icon"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 240px;
  max-height: 480px;
  object-fit: scale-down;
}
